{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react/prop-types": "off",
    "react/display-name": "off",
    "no-console": "off"
    },
  "globals": {
        "require": true,
        "setTimeout": true,
        "console": true
    }
}
